@vite(['resources/css/reset.css', 'resources/css/app.css', 'resources/css/configCard.css'])

<a class="configCardContainer" href="/community/prebuilds/{{ configDetail.id }}">
  <div class="titleWrapper">
    <h3>{{ configDetail.title }}</h3>
  </div>
  <div class="contentWrapper">
    <div class="infoWrapper">
      <span>By user {{ configDetail.userId }}</span>
    </div>
    <div class="descriptionWrapper">
      {{ configDetail.description }}
    </div>
  </div>
</a>