@vite(['resources/css/reset.css', 'resources/css/app.css', 'resources/css/pageNavigation.css',
'resources/js/page_navigation.js'])

<div class="pageNavigationContainer">
  <h3>On this page</h3>
  <div class="scrollNavigation">
    <nav class="scrollNavigationList">
      {{-- content generated through JS --}}
    </nav>
  </div>