@vite(['resources/css/reset.css', 'resources/css/app.css', 'resources/css/themeSwitcher.css',
'resources/js/theme_switcher.js'])

<div class="themeSwitchContainer">
  <input type="checkbox" id="darkModeSwitch" name="themeSwitcher" checked />
  <button type="button" id="darkModeSwitchButton">{{ svg('mdi:circle-half-full') }}</button>
</div>