@vite('resources/css/prebuildsPage.css')

@layouts.accountLayout({ title: "Active builds", active: true })

@if(activeConfigs.length > 0)
<div class="configList">

    @each(config in activeConfigs)
    @if(config.userId == id)

    @!component('components/configCard', { configDetail: config, admin: true })

    @endif
    @end
</div>
@else
<div>You don't have any active builds...</div>
@end

@end