@vite('resources/css/prebuildsPage.css')

@layouts.accountLayout({ title: "Archived builds" })

@if(archivedConfigs.length > 0)
<div class="configList">

    @each(config in archivedConfigs)
    @if(config.userId == id)

    @!component('components/configCard', { configDetail: config, admin: true })

    @endif
    @end
</div>
@else
<div>You don't have any archived builds...</div>
@end

@end