<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{ title }} - Planter Docs</title>
    <meta name="description" content={{ descrption ? descrption : "Planter docs desc" }}>

    @vite(['resources/css/reset.css', 'resources/css/app.css', 'resources/css/accountLayout.css'])
</head>

<body>

    @include('partials/appNav.edge')

    <div class="pageWrapper">
        <div class="docsNavigationWrapper">
            @!component('components/accountNavigation')
        </div>
        <div class="pageContent {{ fullWidth ? '--full-width' : null }}">
            <div class="pageMainContent">
                @if(edit == true)
                <div class="adminTitleContainer">
                    <h1>{{title}}</h1>
                    <div class="adminButtonsContainer">
                        <form action="/admin/prebuilds/edit/{{id}}" method="GET">
                            <button class="buttonWithIcon" type="submit">{{ svg('mdi:edit') }}edit</button>
                        </form>
                        @if(online == true)
                        <form action="/admin/prebuilds/{{id}}" method="POST">
                            {{csrfField()}}
                            <input type="hidden" name="isActive" value={{online}}>
                            <button class="buttonWithIcon" type="submit">{{ svg('mdi:archive') }}archive</button>
                        </form>
                        @elseif(online == false)
                        <form action="/admin/prebuilds/{{id}}" method="POST">
                            {{csrfField()}}
                            <input type="hidden" name="isActive" value={{online}}>
                            <button class="buttonWithIcon" type="submit">{{ svg('mdi:publish') }}publish</button>
                        </form>
                        <form action="/admin/prebuilds/del/{{id}}" method="POST">
                            {{csrfField()}}
                            <div>
                                <input type="hidden">
                                <button class="buttonWithIcon" type="submit">{{ svg('mdi:delete') }} delete</button>
                            </div>
                        </form>
                        @endif
                    </div>
                </div>
                @elseif(active == true)
                <div class="adminTitleContainer">
                    <h1>Active builds</h1>
                    <a href="/admin/newBuild">new build</a>
                </div>
                @endif
                @if(title && !active && !edit)
                <h1>{{ title }}</h1>
                @if(name)
                <h1>{{name}}</h1>
                @endif
                @end
                {{{ await $slots.main() }}}
            </div>
            <div class="pageFooter">
                {{-- page footer here --}}
            </div>
        </div>

        <div class="pageNavigationWraper">
            @!component('components/pageNavigation')
        </div>

    </div>
</body>

</html>