<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{{ title }} - Planter Docs</title>
  <meta name="description" content={{ descrption ? descrption : "Planter docs desc" }}>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css"
    integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">

  @vite(['resources/css/reset.css', 'resources/css/app.css', 'resources/css/documentationLayout.css'])
</head>

<body>

  {{-- app navbar partial here --}}

  @include('partials/appNav')

  <div class="pageWrapper">
    <div class="docsNavigationWrapper">
      <span>Docs nav here please</span>
    </div>
    <div class="pageContent">
      <div class="pageMainContent">
        {{{ await $slots.main() }}}
      </div>
      <div class="pageFooter">
        {{-- page footer here --}}
      </div>
    </div>
    <div class="pageNavigationWraper">
      <span>Page nav here please</span>
    </div>
  </div>
</body>

</html>