<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{{ title }} - Planter Docs</title>
  <meta name="description" content={{ descrption ? descrption : "Planter docs desc" }}>

  @vite(['resources/css/reset.css', 'resources/css/app.css', 'resources/css/documentationLayout.css'])
</head>

<body>

  @include('partials/appNav')

  <div class="pageWrapper">
    <div class="docsNavigationWrapper">
      {{-- @include('partials/documentationNavigation') --}}
      @!component('components/documentationNavigation', {})
    </div>
    <div class="pageContent">
      <div class="pageMainContent">
        {{{ await $slots.main() }}}
      </div>
      <div class="pageFooter">
        {{-- page footer here --}}
      </div>
    </div>
    <div class="pageNavigationWraper">
      {{-- @include('partials/pageNavigation') --}}
      @!component('components/pageNavigation', {})
    </div>
  </div>
</body>

</html>