.hidden {
  display: none;
}

.appNavigationWrapper {
  height: 4rem;
  border-bottom: solid 1px var(--border-color);
  position: sticky;
  background-color: var(--background-color);
  top: 0px;
  left: 0px;
}

.appNavigation {
  height: 100%;
  display: flex;
  align-items: center;
}

.appNavigation > .navSection {
  height: 100%;
  display: flex;
  align-items: center;
  padding: 0 1rem;
}

.appNavigation > .logoContainer {
  width: 15%;
}

.appNavigation > .logoContainer > .homeButton {
  display: flex;
  gap: 1rem;
  align-items: center;
  text-decoration: none;
  color: var(--text-color);
  font-weight: 700;
  font-size: 2rem;
  width: 100%;
}

.appNavigation > .searchBarContainer {
  width: 70%;
  display: flex;
}

.appNavigation > .searchBarContainer > .searchBar {
  margin: 0 auto;
  width: 80%;
  display: flex;
  align-items: center;
  gap: .5rem;
  padding: .25rem .5rem;
  border: solid 2px transparent;
  border-radius: var(--border-radius);
  background-color: var(--border-color);
  color: var(--text-color);
}

.appNavigation > .searchBarContainer > .searchBar:hover {
  transition: var(--transition-duration);
  border: solid 2px var(--border-color-hover);
}

.appNavigation > .settingsContainer {
  width: 15%;
}

.settingsContainer > .settings {
  display: flex;
  gap: 1rem;
  justify-content: flex-end;
}

.settingsContainer > .settings > .settingsItem {
  text-decoration: none;
  color: var(--text-color);
}

.settingsContainer > .settings > .settingsItem > svg {
  width: 2rem;
  height: 2rem;
}

.settingsContainer > .mobileSettings  {
  display: none
}


/* Tablet */
@media screen and (min-width: 768px) and (max-width: 1023px) {
  .appNavigation > .logoContainer > .homeButton > .logoText {
    display: none;
  }
}

/* Smartphone */
@media screen and (max-width: 767px) {
  .appNavigation > .navSection {
    padding: 0 0.5rem;
  }

  .appNavigation > .logoContainer {
    width: 15%;
  }

  .appNavigation > .logoContainer > .homeButton > .logoText {
    display: none;
  }

  .appNavigation > .searchBarContainer {
    width: 75%;
  }

  .appNavigation > .settingsContainer {
    width: 10%;
  }

  .settingsContainer > .settings {
    display: none;
  }

  .settingsContainer > .mobileSettings {
    display: flex;
  }

  #mobileSettingsButton {
    border: none;
    background-color: transparent;
  }

  #mobileSettingsButton > svg{
    width: 2rem;
    height: 2rem;
    color: var(--text-color);
  }

  .mobileSettingsWrapper {
    position: relative;
  }

  .mobileSettingsWrapper > .mobileSettingsOverlay {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
  }

  .mobileSettingsWrapper > .mobileSettingsMenu {
    position: absolute;
    top: 0;
    right: 1rem;
    max-width: 80vw;
    width: 15rem;
    background-color: var(--background-color);
    padding: 1rem;
    border-radius: var(--border-radius);
  }

  .mobileSettingsMenu > ul {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin: 0;
    padding: 0;
    list-style: none;
    width: 100%;
  }

  .mobileSettingsMenu > ul > li {
    display: flex;
    gap: 1rem;
    align-items: center;
    font-weight: 500;
    color: var(--text-color);
    padding: .5rem 0;
  }

  .mobileSettingsMenu > ul > hr {
    margin: 0;
    border: none;
    height: 2px;
    background-color: var(--text-color);
  }

  .mobileSettingsMenu > ul > li > a {
    text-decoration: none;
    color: var(--text-color);
  }


}