.configDetailHeaderWrapper {
  display: flex;
}

.configDetailHeaderWrapper > .configDetailHeaderContent {
  flex: 1;
  max-width: 80%;
  padding-bottom: 2rem;
}

.configDetailHeaderWrapper > .configDetailHeaderUser {
  flex: 1;
  max-width: 20%;
  text-align: right;
  padding-top: 0.2rem;
}

.configDetailContent {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.treeWrapper {
  flex: 1;
}

.configDetailJsonContainer {
  flex: 1;
}

.configJsonHeader {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding: 0.5rem 0;
}

#copyConfigButton {
  padding: 0.125rem 0.25rem;
  border-radius: var(--border-radius);
  border: solid 2px transparent;
  background-color: var(--primary-color);
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
}

#copyConfigButton:hover {
  color: var(--primary-color);
  background-color: var(--border-color);
  cursor: pointer;
  transition: var(--transition-duration);
}

#configTree {
  padding: 0rem 1.5rem 1.5rem 1.5rem;
}

#configTree ul {
  margin-left: 1rem;
  list-style: none;
}

#configTree ul li {
  margin-bottom: 0.5rem;
}

#configTree ul li::before {
  content: '';
  display: inline-block;
  width: 1em;
  height: 1em;
  margin-right: 0.75rem;
  margin-top: 0.25rem;
  --svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath fill='%23000' d='M19 20H4a2 2 0 0 1-2-2V6c0-1.11.89-2 2-2h6l2 2h7a2 2 0 0 1 2 2H4v10l2.14-8h17.07l-2.28 8.5c-.23.87-1.01 1.5-1.93 1.5'/%3E%3C/svg%3E");
  background-color: var(--secondary-color);
  mask: var(--svg) no-repeat center;
  mask-size: contain;
}

@media screen and (min-width: 1600px) {
  .configDetailContent {
    flex-direction: row;
  }

  #configTree {
    padding: 2rem 1.5rem 0 1.5rem;
  }
}
