.pageWrapper {
  display: flex;
  min-height: calc(100vh - var(--appNavheight));
}

.docsNavigationWrapper {
  width: 17.5rem;
  max-height: calc(100vh - var(--appNavheight));
  position: sticky;
  top: var(--appNavheight);
  border-right: solid 1px var(--border-color);
}

.pageContent {
  flex: 1;
}

.pageContent > .pageMainContent, .pageContent > .pageTitle {
  padding: 1rem 0 .5rem 0;
  max-width: 100vw;
}

.pageContent > .pageMainContent > section {
  padding: 1rem 0;
}

.pageNavigationWrapper {
  width: 15rem;
  display: none;
}

/* Desktop */
@media screen and (min-width: 1280px) {
  .pageNavigationWraper {
    display: block;
    max-height: calc(100vh - var(--appNavheight));
    position: sticky;
    top: var(--appNavheight);
  }

  .pageContent > .pageMainContent, .pageContent > .pageTitle {
    margin: 0 auto;
    max-width: 50vw;
  }

  .--full-width > .pageMainContent, .pageContent > .pageTitle {
    max-width: 100vw;
    padding: 0 1rem;
  }
}

/* Smartphone */
@media screen and (max-width: 767px) {
  .pageWrapper {
    flex-direction: column;
    width: 100%;
  }

  .docsNavigationWrapper {
    width: 100%;
    max-height: none;
    position: static;
    top: auto;
  }

  .pageContent > .pageMainContent {
    max-width: 100vw;
  }
}