.loginContent {
  display: flex;
  width: 100vw;
  height: calc(100vh - 65px);
  align-items: center;
  justify-content: center;
}

.loginMainContent {
  width: 600px;
  height: auto;
  padding: 40px;
  border-radius: 4px;
  background-color: var(--pre-background-color);
  color: var(--pre-text-color);
}

.authTextRouting {
  display: flex;
  align-items: center;
  margin-top: -0.7 5rem;
}

.authTextRouting a {
  color: var(--text-selected-color);
  text-decoration: none;
  margin-top: -1rem;
  margin-left: 0.5rem;
  text-decoration-line: underline;
}
.errorsContainer p {
    color: red;
    font-size: 0.8rem;
    margin-bottom: 0px;
}

.display{
  pointer-events: none;
}

@media screen and (max-width: 767px) {
  .loginMainContent {
    max-width: 600px;
    margin: 5px 10px;
  }
}
