@vite(['resources/css/error.css'])

@include('partials/appNav.edge')

<div class="errorContainer">
  <h1>404 - Page not found</h1>
  <a href="{{ route('home') }}" class="getStartedButton">Go home</a>
</div>