@layout({title: "Home Adonis"})
  <section class="hero is-warning">
    <div class="hero-body">
      <p class="title">
        It works
      </p>
      <p class="subtitle">
        Joepie
      </p>
      @!component('components/button', {type: "submit", text: "hallo"})
    </div>
  </section>
@end

